h1 {
    text-align: center;
    color: #0F66E6;
}
.h1_left {
    text-align: left;
}
#wrapper {
    margin: 50px ;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #5493EF;
}
form {
    padding:20px;
    background-color: #7FADF2;
    font-family:Arial;
}
label{
    width: 150px;
    margin-right: 20px;
    font-size: 1em;
    text-align: right;
}
form p{
    margin: 1em 0;
}
input, label {
    display: inline-block;
}
.buttonClass {
    font-size: 15px;
    width: 180px;
    height: 40px;
    border-width: 1px;
    color: #0F66E6;
    border-color: #d6bcd6;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 4px 0px 0px #899599;
    text-shadow: 0px 1px 0px #e1e2ed;
    background: linear-gradient(#ededed, #bab1ba);
}

.buttonClass:hover {
    background: linear-gradient(#bab1ba, #ededed);
}
    
.submit-container { 
    display: flex; 
    justify-content: flex-end; 
}
.error {
    background-color: #ea68ce;
}
figure {
    display: flex; 
    justify-content: center;
}
.searchTab {
    background-color: 7FADF2;
}
.resultTab tr td, .resultTab tr th {
    padding-left: 2em;
}
label{
    width: 250px;
    margin-right: 20px;
    font-size: 1em;
    text-align: right;
}