main {
    margin: 2em;
}
.search_table {
    margin-bottom: 2em;
}
.search_table tr td {
    padding-left: 1em;
    cursor: pointer;
}
.btn_margin_top {
    margin-top: 2em;
}
.product_icon {
    width: 100px;
}
